# K-Nearest Neighbor

Berikut ini adalah langkah-langkah dalam menyelesaikan permasalahan klasifikasi menggunakan KNN :

### 1. Membaca Data Train

Membaca data yang akan *di-train* untuk mendapatkan `K` terbaik, akurasi, dan yang akan digunakan untuk memprediksi *data test* nantinya.

In [2]:
import pandas as pd

data_train = pd.read_csv('dataTrain.csv')
data_train.head()

   atribut 1  atribut 2  atribut 3  atribut 4  kelas
0       17.4     61.250       10.4       21.0      1
1       16.2     34.375       14.8       15.6      1
2       11.4     46.875       10.8        9.9      0
3       12.6     76.250       18.0       25.5      1
4       16.2     55.000        9.8       15.9      0

### 2. Menghitung Euclidean Distance

Dalam melakukan perhitungan jarak pada KNN dapat digunakan bebrapa teori, diantanya adalah *euclidean* dan *manhattan*. Dalam percobaan kali ini akan dilakukan dengan menggunakan teori *euclidean* dalam menghitung jaraknya.

*Euclidean distance* melakukan perhitungan jarak antara dua buah titik dalam *euclidean space*. Berikut adalah formulanya :

<img src="assets/euclidean.png">

In [9]:
import numpy as np

def euclideanDistance(data_train, data_test):
    distance_sum = 0
    for i in range(len(data_train)-1):
        distance_sum += (data_train[i]-data_test[i])**2
    return np.sqrt(distance_sum)

### 3. KNN Algorithm

KNN merupakan algoritma yang digunakan dalam melakukan memecahkan permasalahan klasifikasi, sehingga menghasilkan output diskrit. Contoh untuk output berupa diskrit adalah output yang hasilnya pasti seperti ketika menghitung 1 + 1 = 2, jawabannya bukan mendekati 2. KNN akan melakukan klasifikasi terhadap objek berdasarkan data pembelajaran yang jaraknya paling dekat dengan objek tersebut.

KNN akan bekerja berdasarkan jarak minimum dari data baru ke data training untuk menentukan tetangga terdekat. Setelah itu akan didapatkan data mayoritas sebagai hasil prediksi dari data baru tadi.

In [19]:
import operator

def kNearestNeighbor(data_train, data_test, k):
    distances = {}
    sort = {}
    neighbors = []
    vote_class = {}
    
    for i in range(len(data_train)):
        distance = euclideanDistance(data_train.iloc[i], data_test)
        distances[i] = distance
        
    sorted_distances = sorted(distances.items(), key=operator.itemgetter(1))
    
    for i in range(k):
        neighbors.append(sorted_distances[i][0])
    
    for x in range(len(neighbors)):
        class_in_datatrain = data_train.iloc[neighbors[x]][-1]
    
        if class_in_datatrain in vote_class:
            vote_class[class_in_datatrain] += 1
        else:
            vote_class[class_in_datatrain] = 1

    sorted_vote_class = sorted(vote_class.items(), key=operator.itemgetter(1))
    
    return sorted_vote_class[-1][0]